body {
  background-color: $primary-color;
  color: $primary-color-light
}

nav {
  background-color: $primary-color-dark;
}

ul>li.active>a {
  border-bottom: 1px solid $secondary-color;
}

div.card {
  background-color: $primary-color-dark;
}

.card-content .card-title {
  color: $secondary-color
}
