// --- BOOTSTRAP OVERRIDES --- //

.row.block-text p {
  margin: 2em 6px;
}

a {
  cursor: pointer;
}

// Navbar
.navbar {
    border: 0;
}

.nav > li > a {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand {
    img {
        position: relative;
        top: -10px;
        margin-left: 10px;
    }
}

.navbar-inverse .navbar-nav > li.navbar-user > a {
    color: rgba(255,255,255,0.6);
}


// Buttons
.btn {
    border-width: 3px;
    position: relative;
}

.btn-lg {
    font-size: 14px;
    line-height: 32px;
    padding: 1px 11px;

    .material-icons {
        position: relative;
        top: 6px;
        padding-right: 10px;
    }
}

.btn-xs {
    font-size: 12px;
    padding: 2px 8px 3px 6px;

    .material-icons {
        font-size: 18px;
        position: relative;
        top: 4px;
    }
    .material-icons.small-icon {
      font-size: 14px;
    }
}


// Icon Buttons
.btn-icon {
    border: 3px solid transparent;
    letter-spacing: 0;
    border-radius: 50%;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    color: $gray-dark;

    @include button-icon-size($btn-icon-size);

    .material-icons {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &.btn-approved {
        background-color: $brand-success;
        border: 3px solid $brand-success;
        color: #fff;

        &.btn-approved[disabled] {
            background-color: $brand-info;
            border: 3px solid $brand-info;
            opacity: 1;
        }
    }

    &.btn-approve-all {
        border: 3px solid $brand-success;
        @include btn-hollow($brand-success);
    }

    &.btn-link {
        color: $brand-primary;

        &:hover {
            background-color: transparent;
            color: $brand-primary;
        }
    }
}


// Hollow Buttons
.btn-primary.btn-hollow {
    @include btn-hollow($brand-primary);
}

.btn-success.btn-hollow {
    @include btn-hollow($brand-success);
}

.btn-info.btn-hollow {
    @include btn-hollow($brand-info);
}

.btn-warning {
    @include btn-hollow($brand-warning);
}

.btn-error {
    @include btn-hollow($brand-danger);
}

.btn-danger {
    @include btn-hollow($brand-danger);
}


// Utility
.has-error {
    color: $brand-danger;
}

.no-value {
    color: $gray-dark;
}

.phase-num {
    font-weight: 400;
    padding-right: 10px;
}

.job-num {
    font-weight: 300;
    padding-right: 10px;
}

// Title Bar
.title-bar {
    position: relative;

    h3 {
        margin: 6px 6px 0px 5px;
        font-weight: 700;
    }

    h5 {
        margin-top: 6px;
        margin-left: 7px;
        font-weight: 500;
    }
}

.title-back i {
    position: absolute;
    top: 5px;
    left: -20px;
    font-size: 32px;
}

.title-actions {
    float: right;

    .btn {
        margin-left: 10px;
        text-transform: uppercase;
    }
}

.filter-bar {
    margin-top: 30px;

    input.form-search {
        text-align: left;
    }
}

// Data Tables
.data-table {
    margin-top: 30px;

    &.data-table-invoice {
        .invoice-image {
            max-width: 100%;
            border: 1px solid $gray-light;
            margin: 32px 0 10px 0;
        }
    }

    .table {
        margin-bottom: 0;
    }


}

.table {
    border-bottom: 2px solid $gray-light;

    th {
        text-transform: uppercase;
        font-size: 13px;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    tbody > tr > td {
        vertical-align: middle;
        height: 53px;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    &.table-meta {
        th {
            width: 20%;
        }
    }

    .row-total {
        td {
            font-size: 18px;
            font-weight: 700;
        }
    }

    .row-sub {
        background-color: $gray-lighter;

        // .material-icons {
        //     position: relative;
        //     top: 2px;
        //     font-size: 20px;
        // }
    }

    .row-sub + .row-total {
        border-top: 3px solid $gray-light;

        td {
            padding-top: 30px;
        }
    }

    .cell-name,
    .cell-job {
        width: 30%;
    }

    .cell-select {
        //width: 30%;
    }

    .cell-hours,
    .cell-amount,
    .cell-total {
        text-align: right;
    }

    .cell-icon {
        width: 60px;
        text-align: center;
    }

    .cell-center {
        text-align: center;
    }

}


// Forms
input {
    &.form-control {
        color: $text-color;
        border-width: 2px;
        height: 36px;


        &:focus {
            border-color: $brand-primary;
            box-shadow: none;
        }

        &.has-error {
            border-color: $brand-danger;


            &::placeholder {
                color: $brand-danger;
                font-weight: bold;
            }
        }
    }

    &.form-hours {
        width: 65px;
        text-align: right;
        float: right;
    }

    &.form-amount {
        min-width: 80px !important;
        text-align: right;
        float: right;
    }

    &.form-fleet {
        //width: 100px;
    }
}

select {
    &.form-control {
        color: $text-color;
        border-width: 2px;

        &.has-error {
            color: $brand-danger;
            border-color: $brand-danger;
        }
    }
}

.input-group {
    max-width: 200px;
    float: right;

    .input-group-addon {
        border-width: 2px;
        padding: 6px;
    }

    .form-amount {
        //width: 65px;
        padding-left: 2px;
    }

    &.has-error {
        ::placeholder {
            color: $brand-danger;
            font-weight: bold;
        }

        .form-control:focus {
            border-color: $brand-danger;
            box-shadow: none;
        }
    }
}

//Pagination
.pagination {
    //min-width: 250px;
    margin: 30px 0;
    float: right;

    .material-icons {
        position: relative;
        line-height: 0;
        width: 8px;
        top: 8px;
        left: -8px;
    }
}
