doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Miles-Mods.com
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/assets/css/app.css', rel='stylesheet')
    //-link(href='/assets/js/datepicker/jquery-ui.min.css', rel='stylesheet')
    link(rel="shortcut icon", href="/assets/img/favicon.ico")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    //-script(src='/assets/js/datepicker/jquery-ui.min.js')
  body
    #app
      nav
        div.nav-wrapper
          router-link.brand-logo(to='/') Miles-Mods.com
          ul.right.hide-on-med-and-down#nav-mobile
            li(:class="{ active: $route.name === 'Projects' }")
              router-link(to='/projects') Projects
            li(:class="{ active: $route.name === 'Knowledge Base' }")
              router-link(to='/kb') Knowledge Base
      
      router-view

    script(src='/assets/js/materialize.min.js')
    script(src='/web/client.min.js')
